body {
  background: #333;
  color: #888;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

code {
  background: #444;
  color: #934;
}

pre {
  padding: 0.5em;
}

pre code {
  color: #999;
}

input,
select,
button {
  background: #444;
  border: 1px solid #555;
  padding: 0.125em 0.25em;
  border-radius: 2px;
  color: #888;
}

button:disabled {
  background: #3a3a3a;
  color: #5a5a5a;
}
